.page-title,
.page-subtitle{
  font-family: "PT Sans", sans-serif;
  color: #000;
}

.page-title{
  font-size: 2.4rem;
  font-weight: 700;
}

.page-subtitle{
  font-size: 1.8rem;
  margin-bottom: 3rem;
}